/*colors:
#9b59b6
*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body{
    font-family: 'Raleway', sans-serif;
    font-size:20px;
    font-weight:400;
    text-rendering: optimizeLegibility;
}

h1{
    font-size:400%;
    font-weight:300;
    letter-spacing: 5px;
    line-height: 20px;
}

h2{
    font-weight:bold;
    margin-bottom:20px;
    text-align:center;
}

h2:after{
    display:block;
    height: 2px;
    background-color:#9b59b6;
    content: " ";
    width: 200px;
    margin:0 auto;
    margin-top:10px;
}

section{
    padding:50px;
}

li{
    list-style: none;
}

.btn-active:link,
.btn-active:visited{
    background:#9b59b6;
    color:#fff;
    border-radius:20px;
    font-weight:bold;
}

.btn-active:hover,
.btn-active:active{
    color:#fff;
    background:#6c3981;
    transition: all 0.2s;
}

.btn-lg{
    padding:15px;
    letter-spacing: 3px;
}

/*Navbar*/
.navbar{
    margin-bottom:0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color:#9b59b6;
    font-weight:bold;
}

/*Hero*/
#hero{
   /* background: gray url('../img/hero.jpg') top left;*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)), to(rgba(0,0,0,0.7))),url('../img/hero.jpg');
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../img/hero.jpg');
    background-size:cover;
    height:500px;
    background-attachment: fixed;
    text-align:center;
    color:#fff;
    text-shadow: 0 5px 5px #111;
}

#hero p{
    word-spacing:7px;
    letter-spacing: 5px;
}

.hero-text{
    padding-top:100px;
    padding-bottom:50px;
    color:#fff;
}

#hero span{
    color:#9b59b6;
}

/*About*/
#about{
    text-align:center;
}

#about p{
    padding-bottom:30px;
    text-align:justify;
}


/*Featured Deals*/
#deals{
    background:#e7e7e7;
}

#deals .name:link,
#deals .name:visited{
    color:#9b59b6;
    font-weight:bold;
}

#deals li:before{
    content: "- ";
    color:#9b59b6;
}

.feature-img{
    margin-top:50px;
    height:250px;
    overflow:auto;
    float:right;
}

.feature-deal{
    border:1px solid #9b59b6;
    padding:15px;
}

a .deal{
    background:#fff;
    border:2px solid #fff;
    box-shadow:1px 1px 10px #aaa;
    margin-bottom:30px;
    color:#9b59b6;
}

a .deal:hover{
    border:2px solid #9b59b6;
    transition: all 0.3s;
}

.deal img{

}

.btn-learn{
    background:#9b59b6;
    color:#fff;
}
